# Dependencies
node_modules/
frontend/node_modules/
admin/node_modules/
server/node_modules/

# Environment files
.env
frontend/.env
admin/.env
server/.env

# Build output
dist/
frontend/dist/
admin/dist/

# Misc
.DS_Store
*.log
